<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Elevator</title>

  <meta name="description" content="">

  <!-- base url -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/dashboard/css/rdash.css" rel="stylesheet">

</head>

<body>
  <div id="app">
    <div id="page-wrapper" v-bind:class="{ open: showSidebar}">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar">
          <li class="sidebar-main">
            <a v-on:click="toggleSidebar">
              Dashboard
              <span class="menu-icon glyphicon glyphicon-transfer"></span>
            </a>
          </li>
          <li class="sidebar-title"><span>TOOL</span></li>
            <li class="sidebar-list">
              <a href="#">Upload <span class="menu-icon fa fa-upload"></span></a>
            </li>
          <li class="sidebar-title"><span>NAVIGATION</span></li>
            <li class="sidebar-list">
              <a href="#">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
            </li>
            <li class="sidebar-list">
              <a href="#/tables">Tables <span class="menu-icon fa fa-table"></span></a>
            </li>
            <li class="sidebar-list">
              <a href="/">Website <span class="menu-icon fa fa-home"></span></a>
            </li>
        </ul>
        <div class="sidebar-footer">
          <div class="col-xs-4">
            <a href="https://github.com/rdash/rdash-angular" target="_blank">
              Github
            </a>
          </div>
          <div class="col-xs-4">
            <a href="https://github.com/rdash/rdash-angular/blob/master/README.md" target="_blank">
              About
            </a>
          </div>
          <div class="col-xs-4">
            <a href="#">
              Support
            </a>
          </div>
        </div>
      </div>
      <!-- End Sidebar -->
      <!-- Content -->
      <div id="content-wrapper">
        <div class="page-content">
        </div>
      </div>
      <!-- End Content -->
    </div>
  </div>
  <!-- Vue.JS -->
  <script type="text/javascript" src="https://unpkg.com/vue@2.1.10/dist/vue.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/vue.resource/1.2.0/vue-resource.min.js"></script>
  <script type="text/javascript" src="../static/dashboard/js/app.js"></script>
</body>
</html>
